  form{
    text-align: center;
  }
  body{
    background-repeat: no-repeat;
    background-size:45cm  45cm;
    background-color: rgb(146, 213, 192);

    background-position: 1px;

  }
  box{
    position:absolute;
    border-radius: 10px;
    top:30%;
    transform: translate(-50%,-5%);
    background-color :rgb(255, 255, 255); 
    padding:10px;
    border: radius 8%;
    border-color: black;
    border: solid 3px;
  }

  nav{
    background-color: black;
  }

  .box{
    border-radius: 10px;
    position:absolute;
    top:30%;
    transform: translate(+80%,-20%);
    background-color :rgb(255, 255, 255); 
    padding:10px;
    border: radius 8%;
    border-color: black;
    border: solid 3px;
  }

h2{
  color: white;
}
 body{
  background-position: center;
  background-image: url(phar.webp);
  /* background-size:; */
  /* background-repeat: no-repeat  ; */
  

} 










  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
